.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

svg {
  cursor: default;
}

.preloader__absolute {
  display: flex;
  height: 100vh;
  position: absolute;
  justify-self: center;
  justify-content: center;
  align-items: center;
  z-index: 111;
  top: 0;
  left: 0;
  right: 0;
}
