.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 5px;
    width: 500px;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}